@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@900&family=Roboto:wght@300&family=Shantell+Sans:ital,wght@1,800&family=Ubuntu:wght@700&display=swap");
.header {
  min-height: 8rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.14rem #D9D9D9 solid;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
}

.wrapper-flex {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.empty {
  display: flex;
  justify-content: center;
  align-content: center;
}

.footer {
  min-height: 8rem;
  display: flex;
  align-items: center;
  border-top: 0.14rem solid #D9D9D9;
  gap: 4rem;
}
.footer .footer-item {
  text-decoration: none;
  font-weight: bold;
  color: #4B4B4B;
  font-size: 14px;
}
.footer .footer-link {
  color: #0277FF;
  cursor: pointer;
}

.modal {
  border: none;
  outline: none;
  border-radius: 2.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  box-shadow: -0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.3);
  padding: 1rem;
}
.modal > * {
  border: none;
  outline: none;
}
.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .modal-container {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.modal .modal-container .modal-container-heading {
  font-size: 1.5rem;
  font-weight: 600;
  color: #4B4B4B;
  margin-left: 1rem;
  margin-top: 0.7rem;
}
.modal .modal-container .modal-contianer-ruler {
  border: none;
  height: 0.12rem;
  background-color: #D9D9D9;
  border-radius: 2rem;
  margin-block: 1rem;
}
.modal .modal-container .modal-section {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
}
.modal .modal-container .modal-section .modal-container-thumbnail {
  border-radius: 1rem;
}
.modal .modal-container .modal-section .modal-container-label {
  color: #4B4B4B;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 0.4rem;
  margin-left: 0.4rem;
}
.modal .modal-container .modal-section .modal-container-input {
  border: none;
  outline: none;
  box-shadow: none;
}
.modal .modal-container .modal-section .modal-container-note {
  font-size: 10px;
  font-weight: 600;
  margin-inline: 0.6rem;
  margin-block: 0.7rem 2rem;
  color: #969696;
}
.modal .modal-container .modal-section .modal-container-message {
  font-size: 16px;
  margin-inline: 0.6rem;
  margin-block: 0.7rem 2rem;
  color: #969696;
}
.modal .modal-container .modal-section .modal-container-error {
  font-size: 12px;
  font-weight: 600;
  margin-inline: 0.6rem;
  margin-block: 0.7rem 2rem;
  color: rgb(171, 78, 78);
}
.modal .modal-container .modal-section .modal-container-span {
  margin: 0;
}
.modal .modal-container .modal-section-button {
  display: flex;
  justify-content: space-between;
}
.modal .modal-container .input-color {
  background-color: transparent;
  width: 2.5rem;
  height: 2.8rem;
  cursor: pointer;
  margin-left: 0.5rem;
}
.modal .modal-container .input-color::-webkit-color-swatch {
  border-radius: 0.7rem;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.modal .modal-container .input-text {
  background-color: #D9D9D9;
  border-radius: 1rem;
  padding: 1rem;
  color: #4B4B4B;
}
.modal .modal-container .input-text::placeholder {
  color: #969696;
}

.task-tab {
  outline: 1px solid black;
  margin: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.tab-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: white;
  font-weight: bold;
}
.tab-container .tab-nav {
  margin-left: 1rem;
  display: inline-flex;
  width: fit-content;
}
.tab-container .tab-nav .tab-nav-item {
  padding: 0.4rem 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.tab-container .tab-content {
  flex-grow: 1;
  position: relative;
  border-radius: 0.7rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  padding: 2rem;
}

[data-color=blue] {
  color: #0277FF;
}

[data-color=black] {
  color: black;
}

[data-color=grey] {
  color: #4B4B4B;
}

.logo {
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: bold;
  font-size: 27px;
}

.header-item {
  flex: 1;
  align-items: center;
  display: flex;
}

.header-item-start {
  align-items: center;
  justify-content: flex-start;
}

.header-item-middle {
  align-items: center;
  justify-content: center;
}

.header-item-end {
  align-items: center;
  justify-content: flex-end;
  gap: 0.7rem;
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: inherit;
  padding: 0.5em 1.2em;
  border-radius: 0.5em;
  margin: 0.5em;
  font-size: 15px;
  display: flex;
  gap: 0.3em;
  align-items: center;
  transition: scale 0.2s ease-in, transform 0.2s ease-in;
}
.btn:hover {
  scale: 1.01;
  transform: translateY(-0.1em);
}

.btn-primary {
  background-color: #0277FF;
  color: white;
  outline: 0.15em #0277FF solid;
}

.btn-secondary {
  background-color: white;
  color: #0277FF;
  outline: 0.15em #0277FF solid;
}

.card {
  color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 296px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  cursor: pointer;
  transition: scale 0.2s ease-in, box-shadow 0.2s ease-in;
}
.card:hover {
  scale: 1.02;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.card .card-upper {
  display: flex;
  padding-inline-end: 1rem;
}
.card .card-upper .card-options {
  padding-top: 1rem;
}
.card .card-upper .card-options i {
  transition: transform 0.2s ease;
}
.card .card-upper .card-options i:hover {
  transform: scale(1.3);
}
.card .card-upper .card-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
}
.card .card-upper .card-info .card-info-title {
  padding-bottom: 1rem;
  display: flex;
  font-size: 33px;
  gap: 0.5rem;
  align-items: center;
  font-weight: bold;
}
.card .card-upper .card-info .card-info-date {
  font-weight: bold;
  font-size: 13px;
  margin-left: 1em;
}
.card .card-task-info {
  display: flex;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  justify-content: space-between;
}

.badge-small {
  font-size: 12px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.4);
  padding: 0.15em 0.7em;
  border-radius: 1em;
  margin-inline: 0.8em;
}

.avatar {
  width: 2rem;
  border: 0.15em solid #D9D9D9;
  border-radius: 50%;
  background-color: #D9D9D9;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  flex-wrap: nowrap;
  position: absolute;
  background-color: white;
  right: -50%;
  margin-top: 0.3rem;
  color: #4B4B4B;
  z-index: 1;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  border-radius: 0.6rem;
}
.dropdown-content hr {
  background-color: #0277FF;
  border: none;
  height: 0.12rem;
  border-radius: 1rem;
}

.dropdown-content-item {
  padding: 0.7rem 0.4rem;
  margin: 0.3rem;
  display: flex;
  text-decoration: none;
  border-radius: 0.5rem;
  color: #0277FF;
  font-size: 17px;
  cursor: pointer;
  gap: 0.3rem;
  align-items: center;
}
.dropdown-content-item:first-child {
  font-weight: bold;
}
.dropdown-content-item:not(:first-child) {
  font-size: 15px;
}
.dropdown-content-item:not(:first-child):hover {
  background-color: #0277FF;
  color: white;
}

.show {
  display: block;
  width: fit-content;
}

.indicator-large {
  font-size: 40px;
  color: #D9D9D9;
}

.card-inline {
  background-color: white;
  margin-block: 1rem;
  padding: 0rem 1rem;
  border-radius: 0.7rem;
  color: #969696;
  height: 4rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  transition: box-shadow 0.2s ease-in;
  gap: 0.6rem;
  cursor: pointer;
}
.card-inline .card-inline-label {
  flex-grow: 1;
}
.card-inline .card-inline-label-stroke {
  text-decoration: line-through;
}
.card-inline i.del {
  padding-inline: 0.5rem;
  align-items: center;
  transition: transform 0.2s ease-in;
}
.card-inline i.del:hover {
  color: rgb(171, 78, 78);
  transform: scale(1.1);
}
.card-inline:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.card-input {
  color: white;
  font-weight: bold;
  min-height: 2.5em;
}
.card-input input {
  font-size: 1.2rem;
  border: none;
  outline: none;
  flex-grow: 1;
  background-color: inherit;
  color: white;
  caret-color: white;
  border-bottom: 0.12em solid white;
}
.card-input i:last-child {
  font-size: 1.3rem;
}
.card-input .card-input-label {
  flex-grow: 1;
  font-size: 1.2rem;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .heading-large {
  font-size: 50px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}
.about .heading-medium {
  font-weight: none;
  font-size: 30px;
}
.about .social {
  border: 0.12rem solid #D9D9D9;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  color: #4B4B4B;
  gap: 1rem;
  font-size: 20px;
}
.about .social a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.privacy .section:last-child hr, .terms .section:last-child hr {
  display: none;
}
.privacy .section hr, .terms .section hr {
  border: none;
  outline: none;
  height: 0.12rem;
  background-color: #D9D9D9;
}
.privacy .section a, .terms .section a {
  text-decoration: none;
  color: #0277FF;
  cursor: pointer;
}
.privacy .section p, .terms .section p {
  font-size: 15px;
  line-height: 1.4rem;
  padding-block: 1rem;
}
.privacy .section h1, .terms .section h1 {
  margin-block: 1rem;
}
.privacy .section h2, .terms .section h2 {
  margin-top: 0.5rem;
}
.privacy .section h3, .terms .section h3 {
  margin-top: 0.2rem;
}
.privacy .section ul, .terms .section ul {
  margin-left: 1.4rem;
}

.login {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login .logo {
  font-size: 40px;
  margin: 1rem;
  padding: 0;
}
.login .note {
  color: #4B4B4B;
  font-size: 20px;
  margin-block: 1rem;
  font-weight: bold;
  line-height: 2rem;
  text-align: center;
}
.login .buttons {
  display: flex;
}
.login .buttons a {
  text-decoration: none;
}

.bottom {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  color: #4B4B4B;
  font-weight: bold;
}
.bottom a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
}
body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-thumb {
  background-color: #969696;
  border-radius: 1rem;
}

.container {
  width: 90dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}